<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CompleteInfo</title>
  <!--CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="style/secondpagestyle.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap" rel="stylesheet">

  <!--Navbar font-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&display=swap" rel="stylesheet">

  <!--font on slide h1-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">

  <!--font body-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Rashi+Hebrew:wght@500&display=swap" rel="stylesheet">   

</head>
<body>
 <!--Navbar-->
 <nav class="navbar navbar-expand-lg navbar-light "style="background-color:#DEE8EB;; max-width: 100%;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="../Img/logo.jpg" alt="logo" style="margin-left: 10%;width: 230px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="width:160px; text-align: center;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active"  href="#" style="width:160px; text-align: center;">About&nbsp;Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active"  href="/foundItemPage" style="width:160px; text-align: center;">Found</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active"  href="/lostItemPage" style="width:160px; text-align: center;">Lost</a>
        </li>
        <% if (isAuth) { %>
          <!-- Show the authenticated navigation item -->
          <li class="nav-item">
            <a class="nav-link active" href="/Profile" style="width: 160px; text-align: center;">
              <span class="bi bi-person-fill" style="display: block; font-size: 1.5rem; margin: 0 auto;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" style="display: block; width: 42px; height: 42px; margin: 0 auto;">
                  <path d="M248 288c61.9 0 112-50.1 112-112s-50.1-112-112-112-112 50.1-112 112 50.1 112 112 112zm0 32c-71.9 0-208 36.4-208 112v16h416v-16c0-75.6-136.1-112-208-112z" fill="#219882"/>
                </svg>
              </span>
            </a>
          </li>
        <% } else { %>
          <!-- Show the unauthenticated navigation item -->
          <li class="nav-item">
            <a class="nav-link active" href="/signInPage" style="width:160px; text-align: center;">Sign&nbsp;In</a>
          </li>
        <% } %>
    </div>
  </div>
</nav>
<!--End Navbar-->

    <!--slider-->

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="max-width: 100%;">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <!--store all img-->
      <div class="carousel-inner" style="font-family: 'MuseoModerno', cursive;">
        <!--first slide img-->
        <div class="carousel-item active" >
          <img src="../Img/home1.jpg" class="d-block img-fluid" alt="..."
          style="width: 100%;">
          <div class="carousel-caption " >
            <h1 >Tell us about your Item that<br>have been missed or found !!</h1>
            <h4>Fill the info down here</h4>
          </div>
        </div>
        <!--second slide img-->
        <div class="carousel-item">
          <img src="../Img/home2.jpg" class="d-block img-fluid" alt="..."
          style="width: 100%;">
          <div class="carousel-caption">
            <h1 >Tell us about your Item that<br>have been missed or found !!</h1>
            <h4>Fill the info down here</h4>
          </div>
        </div>
        <!--third slide img-->
        <div class="carousel-item">
          <img src="../Img/home3.jpg" class="d-block img-fluid" alt="..."
          style="width: 100%;">
          <div class="carousel-caption">
            <h1 >Tell us about your Item that<br>have been missed or found !!</h1>
            <h4>Fill the info down here</h4>
          </div>
        </div>

        <!--fourth slide img-->
        <div class="carousel-item">
          <img src="../Img/home4.jpg" class="d-block img-fluid" alt="..."
          style="width: 100%;">
          <div class="carousel-caption">
            <h1 >Tell us about your Item that<br>have been missed or found !!</h1>
            <h4>Fill the info down here</h4>
          </div>
        </div>
      </div>
      <!--end store-->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  <!--End slider-->

  <!--Item info-->

  <form action="/form" method="post" class="row g-3" enctype="multipart/form-data" style="max-width: 100%;margin-left: 10%;margin-right: 2%;margin-top: 3%;margin-bottom: 3%;font-weight: bold;">
    <h1 class="card-title" style="font-weight: bold;">ITEM Info</h1>
    <h4 class="card-text">Fill in your item information here</h4>
    
    <div class="col-md-6" >
      <label class="form-label" style="font-size: 23px;">ITEM Name</label>
      <input type="ItemName" class="form-control" name="itemname" style="font-size: 22px;width: 80%;" >
    </div>
    <div class="col-md-6">
      <label class="form-label" style="font-size: 23px;">Category</label>
      <select class="form-select" name="category" style="font-size: 22px;width: 80%;font-weight: lighter;">
         <option value="clothing">Clothing</option>
         <option value="collection-item">Collection Item</option>
         <option value="document">Document</option>
         <option value="household">Household</option>
         <option value="tools">Tools</option>
         <option value="jewelry">Jewelry</option>
         <option value="mail">Mail</option>
         <option value="ticket">Ticket</option>
         <option value="personal-accessories">Personal Accessories</option>
         <option value="electronic">Electronic</option>
         <option value="other">Other</option>
      </select>
   </div>
    <div class="col-md-6" >
      <label class="form-label" style="font-size: 23px;">Color</label>
      <input class="form-control" name="color" style="font-size: 22px;width: 80%;" >
    </div>
    <div class="col-md-6" >
      <label class="form-label" style="font-size: 23px;">Secondary Color</label>
      <input type="secondarycolor" class="form-control" name="secondarycolor" style="font-size: 22px;width: 80%;" >
    </div>
    <div class="col-md-6" >
      <label class="form-label" style="font-size: 23px;">Size</label>
      <input type="secondarycolor" class="form-control" name="size" style="font-size: 22px;width: 80%;" >
    </div>
    <div class="col-md-6" >
    </div>
    <div class="col-md-6" >
      <label class="form-label" style="font-size: 23px;">Lost Date</label>
      <input type="date" class="form-control" name="date" style="font-size: 22px;width: 80%;" >
    </div>
    <div class="col-md-6" >
      <label class="form-label" style="font-size: 23px;">Lost Time</label>
      <input type="time" class="form-control" name="time" style="font-size: 22px;width: 80%;" >
    </div>
    <div class="col-md-7" >
      <label class="form-label" style="font-size: 23px;">Location</label>
      <input type="location" class="form-control" name="location" style="font-size: 22px;width: 80%;" >
    </div>
    <div class="col-md-7" >
      <label class="form-label" style="font-size: 23px;">Add Image</label>
      <input type="file" class="form-control" name="image" style="font-size: 22px;width: 80%;" >
    </div>
    <div class="col-md-7" >
      <label class="form-label" style="font-size: 23px;">Description</label>
      <textarea type="date" class="form-control" name="description" style="font-size: 22px;width: 80%;" ></textarea>
    </div>
    <div class="col-md-6" >
      <label class="form-label" style="font-size: 23px;">Owner Mobile</label>
      <input type="mobile" class="form-control" name="mobile" style="font-size: 22px;width: 80%;" >
    </div>

    <div class="col-md-6">
      <label class="form-label" style="font-size: 23px;">Item Status</label>
      <select class="form-select itemStatus" name="itemstatus" style="font-size: 22px;width: 80%;font-weight: lighter;">
        <option value="lost">lost</option>
        <option value="found">found</option>
      </select>
    </div>
    
    <div class="col-12">
      <button type="submit" class="btn" style="background-color: rgb(7, 128, 88);width: 150px;font-size: 23px;font-weight: bold;color: #ffffff;">SUBMIT</button>
    </div>
  </form>
  <!--End Owner info-->
     
  <!--add picture-->
  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

<!-- Footer -->
<footer class="text-center text-lg-start bg-black " style="color: #ffffff;margin-top: 0;">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block" style="font-size: 25px;">
      <span>Get connected with us on social networks:</span>
    </div>
 
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h3 class="text-uppercase fw-bold mb-4">
            LOST AND FOUND
          </h3>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4" id="navFooter" >
         
          <p>
            <a  href="#" id="navFooter1" class="nav-link active"  style="font-family: 'Sans', sans-serif;font-weight: bold;font-size: 22px;">Home</a>
          </p>
          <p>
            <a  href="#" id="navFooter2" class="nav-link active"  style="font-family: 'Sans', sans-serif;font-weight: bold;font-size: 22px;">About&nbsp;Us</a>
          </p>
          <p>
            <a  href="#" id="navFooter3" class="nav-link active"  style="font-family: 'Sans', sans-serif;font-weight: bold;font-size: 22px;">Lost</a>
          </p>
          <p>
            <a  href="#" id="navFooter4" class="nav-link active"  style="font-family: 'Sans', sans-serif;font-weight: bold;font-size: 22px;">Found</a>
          </p>
        </div>
        <!-- Grid column --> 
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h3 class="text-uppercase fw-bold mb-4">Contact Us</h3>
          <p class="text-uppercase mb-4" style="font-size: 20px;">Phnom Penh, Cambodia</p>
          <p style="font-size: 20px;">Royal University of Phnom Penh</p>
          <p style="font-size: 20px;">
            LOSTANDFOUND@gmail.com
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
</footer>
<!-- Footer -->
</html>