
  <!--start Lost Item-->
  <div class="container " style="background-color:#DEE8EB;max-width: 100%;padding-bottom: 80px;padding-top: 60px;">
    <div class="row">
      <div class="col-md-4"style="text-align: center;">
        <img  src="Img/Booklost.jpg" alt="..."style="width:300px;">
      </div>
      <div class="col-md-8">
        <div class="card-body" style="margin-left:24% ;">
          <p style="font-size:40px;font-family: 'Noto Rashi Hebrew', serif;">Lost Item</p>
          <p style="font-size:20px;font-family: 'Noto Rashi Hebrew', serif;">We are committed to helping you<br>Find your lost properties<br>And providing you with the best service.</p>
          <a href="/formlost" class="btn text-light" id="btn1" style="width: 200px;height:auto;font-size:20px;background: #219882;font-family: 'Noto Rashi Hebrew', serif;text-align: center;">Let other know</a>
        </div>
      </div>
    </div>
  </div> 
  <!--End Lost Item-->

  <!--start Found Item-->
  <div class="container"style="background-color:rgb(183, 200, 210);max-width: 100%;padding-bottom: 80px;padding-top: 60px;">
    <div class="row g-4">
      <div class="col-md-8"style="text-align: right;">
        <div class="card-body" style="margin-right:24% ;">
          <p style="font-size:40px;font-family: 'Noto Rashi Hebrew', serif;">Found Item</p>
          <p style="font-size:20px;font-family: 'Noto Rashi Hebrew', serif;">Our team is dedicated to find the owner of item<br>Help you to contact them<br>And return the item to respective owner</p>
          <a href="/formfound" class="btn text-light" id="btn2" style="width: 200px;height:auto;font-size:20px;background: #219882;font-family: 'Noto Rashi Hebrew', serif;text-align: center;">Let other know</a>
        </div>
      </div>
      <div class="col-md-4"style="text-align: center;">
        <img src="Img/camerafound1.jpg" alt="..."style="width:300px;">
      </div> 
    </div>
  </div>
  <!--End Found Item-->
