<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LostandFound</title>

  <!--CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="style/firstpagestye.css">

  <!--font body-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Rashi+Hebrew:wght@500&display=swap" rel="stylesheet">   

  <!--Navbar font-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&display=swap" rel="stylesheet">

  <!--font on slide h1-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">

</head>
<body>

  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-light "style="background-color:#DEE8EB;; max-width: 100%;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="../Img/logo.jpg" alt="logo" style="margin-left: 10%;width: 230px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/" style="width:160px; text-align: center;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  href="about-us" style="width:160px; text-align: center;">About&nbsp;Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  href="/foundItemPage" style="width:160px; text-align: center;">Found</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  href="/lostItemPage" style="width:160px; text-align: center;">Lost</a>
          </li>

          <% if (isAuth) { %>
            <!-- Show the authenticated navigation item -->
            <li class="nav-item">
              <a class="nav-link active" href="/Profile" style="width: 160px; text-align: center;">
                <span class="bi bi-person-fill" style="display: block; font-size: 1.5rem; margin: 0 auto;">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" style="display: block; width: 42px; height: 42px; margin: 0 auto;">
                    <path d="M248 288c61.9 0 112-50.1 112-112s-50.1-112-112-112-112 50.1-112 112 50.1 112 112 112zm0 32c-71.9 0-208 36.4-208 112v16h416v-16c0-75.6-136.1-112-208-112z" fill="#219882"/>
                  </svg>
                </span>
              </a>
            </li>
          <% } else { %>
            <!-- Show the unauthenticated navigation item -->
            <li class="nav-item">
              <a class="nav-link active" href="/signInPage" style="width:160px; text-align: center;">Sign&nbsp;In</a>
            </li>
          <% } %>
      </div>
    </div>
  </nav>
  <!--End Navbar-->

  <!--slider-->

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="max-width: 100%;">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <!--store all img-->
      <div class="carousel-inner" style="font-family: 'MuseoModerno', cursive;">
        <!--first slide img-->
        <div class="carousel-item active" >
          <img src="../Img/home1.jpg" class="d-block img-fluid" alt="..."
          style="width: 100%;">
          <div class="carousel-caption " >
            <h1 >LOST SOMETHING !!<br>FOUND SOMETHING !!</h1>
            <h4 >we are record here</h4>
          </div>
        </div>
        <!--second slide img-->
        <div class="carousel-item">
          <img src="../Img/home2.jpg" class="d-block img-fluid" alt="..."
          style="width: 100%;">
          <div class="carousel-caption">
            <h1 >LOST SOMETHING !!!<br>FOUND SOMETHING !!!</h1>
            <h4>we are record here</h4>
          </div>
        </div>
        <!--third slide img-->
        <div class="carousel-item">
          <img src="../Img/home3.jpg" class="d-block img-fluid" alt="..."
          style="width: 100%;">
          <div class="carousel-caption">
            <h1 >LOST SOMETHING !!!<br>FOUND SOMETHING !!!</h1>
            <h4>we are record here</h4>
          </div>
        </div>

        <!--fourth slide img-->
        <div class="carousel-item">
          <img src="../Img/home4.jpg" class="d-block img-fluid" alt="..."
          style="width: 100%;">
          <div class="carousel-caption">
            <h1 >LOST SOMETHING !!!<br>FOUND SOMETHING !!!</h1>
            <h4>we are record here</h4>
          </div>
        </div>
      </div>
      <!--end store-->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  <!--End slider-->

<!--add picture-->
<div class="container about-us mt-5" style="background-color: white; max-width: 100%; padding-top: 0;">
  <div class="card-header mt-2" style="text-align: center; font-size: 30px; font-family: 'Noto Rashi Hebrew', serif; font-weight: bold;">
    About Us
  </div>
  <p style="text-align: center; font-size: 22px;">We are looking forward to assist you to find back your precious item</p>
</div>

<!--pic for add-->
<div class="container" style="background-color: white; background-size: contain; max-width: 100%;">
  <div class="row g-2" style="margin-bottom: 50px; text-align: center;">
    <!--first img add-->
    <div class="col-md">
      <div class="form-floating">
        <a href="#"><img src="../Img/find.jpg" class="rounded" style="width: 120px; margin-top: 30px;"></a>
        <p style="font-size: 20px; font-weight: bold;">FIND</p>
      </div>
    </div>

    <!--second img add-->
    <div class="col-md">
      <div class="form-floating">
        <a href="#"><img src="../Img/connect.jpg" class="rounded" style="width: 120px; margin-top: 30px;"></a> 
        <p style="font-size: 20px; font-weight: bold;">CONNECT</p>
      </div>
    </div>
    <!--End add pic-->

    <!--third img add-->
    <div class="col-md">
      <div class="form-floating">
        <a href="#"><img src="../Img/match.jpg" class="rounded" style="width: 120px; margin-top: 30px;"></a> 
        <p style="font-size: 20px; font-weight: bold;">MATCH</p>
      </div> 
    </div>
  </div>
</div>
 
<!--start Item-->
<div class="container mb-4" style="max-width: 100%;">
  <div class="row" style="max-width: 100%;">
    <div class="col-md-4" style="margin-top: 30px;">
      <img src="../Img/DeadZone.jpg" alt="..." class="mx-5" style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 20px; width: 400px; height: 300px;">
    </div>
  
    <div class="col-md-8" style="max-width: 100%;">
      <div class="container-body" style="margin-top: 5%; font-size: 22px; margin-bottom: 100px; font-family: 'Noto Rashi Hebrew', serif; margin-left: 24%;">
        <p style="font-size: 20px; font-family: Arial; margin-top: 2px;">Lost and found is a service to help people report<br>
          lost or found items.<br>If you have lost an item, you can report it to us
          <br>and we will do our best to help you find it.
         <br>If you have found an item, you can report it to us and
         <br>we will try to find the owner. 
         <br>Our goal is to help people recover their lost items 
         <br>and reunite them with their owners.</p>
      </div>
    </div>
  </div>
</div>
<!--End Item-->




  <!--start Lost Item-->
  <div class="container " style="background-color:#DEE8EB;padding-bottom: 80px;padding-top: 60px;max-width: 100%;">
    <div class="row">
      <div class="col-md-4"style="text-align: center;">
        <img  src="../Img/Booklost.jpg" alt="..."style="display: block;margin-left: auto;margin-right: auto;width:300px;">
      </div>
      <div class="col-md-8">
        <div class="card-body" style="margin-left:24% ;">
          <p style="font-size:40px;font-family: 'Noto Rashi Hebrew', serif;">Lost Item</p>
          <p style="font-size:20px;font-family: 'Noto Rashi Hebrew', serif;">We will be able to help you to find<br>the properties that you lose <br>We will serve you the best.</p>
          <a href="/form" class="btn text-light" id="btn1" style="width: 200px;height:auto;font-size:20px;background: #219882;font-family: 'Noto Rashi Hebrew', serif;text-align: center;">Let other know</a>
        </div>
      </div>
    </div>
  </div> 
  <!--End Lost Item-->

  <!--start Found Item-->
  <div class="container"style="background-color:rgb(183, 200, 210);padding-bottom: 80px;padding-top: 60px;max-width: 100%;">
    <div class="row g-4">
      <div class="col-md-8"style="text-align: right;">
        <div class="card-body" style="margin-right:24% ;">
          <p style="font-size:40px;font-family: 'Noto Rashi Hebrew', serif;">Found Item</p>
          <p style="font-size:20px;font-family: 'Noto Rashi Hebrew', serif;">We will be able to help you to find<br>the properties that you lose<br>We will serve you the best.</p>
          <a href="/form" class="btn text-light" id="btn2" style="width: 200px;height:auto;font-size:20px;background: #219882;font-family: 'Noto Rashi Hebrew', serif;text-align: center;">Let other know</a>
        </div>
      </div>
      <div class="col-md-4"style="text-align: center;">
        <img src="../Img/camerafound1.jpg" alt="..."style="display: block;margin-left: auto;margin-right: auto;width:300px;">
      </div> 
    </div>
  </div>
  <!--End Found Item-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>

<!-- Footer -->
<footer class="text-center text-lg-start bg-black " style="color: #ffffff;margin-top: 0;">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block" style="font-size: 25px;">
      <span>Get connected with us on social networks:</span>
    </div>
 
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h3 class="text-uppercase fw-bold mb-4">
            LOST AND FOUND
          </h3>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4" id="navFooter" >
         
          <p>
            <a  href="#" id="navFooter1" class="nav-link active"  style="font-family: 'Sans', sans-serif;font-weight: bold;font-size: 22px;">Home</a>
          </p>
          <p>
            <a  href="#" id="navFooter2" class="nav-link active"  style="font-family: 'Sans', sans-serif;font-weight: bold;font-size: 22px;">About&nbsp;Us</a>
          </p>
          <p>
            <a  href="#" id="navFooter3" class="nav-link active"  style="font-family: 'Sans', sans-serif;font-weight: bold;font-size: 22px;">Lost</a>
          </p>
          <p>
            <a  href="#" id="navFooter4" class="nav-link active"  style="font-family: 'Sans', sans-serif;font-weight: bold;font-size: 22px;">Found</a>
          </p>
        </div>
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h3 class="text-uppercase fw-bold mb-4">Contact Us</h3>
          <p class="text-uppercase mb-4" style="font-size: 20px;">Phnom Penh, Cambodia</p>
          <p style="font-size: 20px;">Royal University of Phnom Penh</p>
          <p style="font-size: 20px;">
            LOSTANDFOUND@gmail.com
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
</footer>
<!-- Footer -->
</html>


