<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LoginSuc</title>

  <!--CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="style/LoginSucstyle.css">

  <!--font body-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Rashi+Hebrew:wght@500&display=swap" rel="stylesheet">   

  <!--Navbar font-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&display=swap" rel="stylesheet">

  <!--font on slide h1-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">

  <!--sign-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">

</head>
<body>

  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-light "style="background-color:#DEE8EB;; max-width: 100%;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="../Img/logo.jpg" alt="logo" style="margin-left: 10%;width: 230px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="width:160px; text-align: center;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  href="#" style="width:160px; text-align: center;">About&nbsp;Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  href="/foundItemPage" style="width:160px; text-align: center;">Found</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  href="/lostItemPage" style="width:160px; text-align: center;">Lost</a>
          </li>
          <% if (isAuth) { %>
            <!-- Show the authenticated navigation item -->
            <li class="nav-item">
              <a class="nav-link active" href="/Profile" style="width: 160px; text-align: center;">
                <span class="bi bi-person-fill" style="display: block; font-size: 1.5rem; margin: 0 auto;">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" style="display: block; width: 42px; height: 42px; margin: 0 auto;">
                    <path d="M248 288c61.9 0 112-50.1 112-112s-50.1-112-112-112-112 50.1-112 112 50.1 112 112 112zm0 32c-71.9 0-208 36.4-208 112v16h416v-16c0-75.6-136.1-112-208-112z" fill="#219882"/>
                  </svg>
                </span>
              </a>
            </li>
          <% } else { %>
            <!-- Show the unauthenticated navigation item -->
            <li class="nav-item">
              <a class="nav-link active" href="/signInPage" style="width:160px; text-align: center;">Sign&nbsp;In</a>
            </li>
          <% } %>
      </div>
    </div>
  </nav>
  <!--End Navbar-->
  <!--background-->
  <div class="background-image">
    <div class="card-group" style="align-items: center;justify-content: center;margin-top: 5%;margin-bottom: 10%;" >
      <div class="col-lg-6 col-md-12 mb-1 mb-md-0" style="height: 600px;border-radius: 10px;background-color: rgb(3, 116, 90);">
        <div class="card-body" style="text-align: center;margin-top: 15%;"> 
          <h5 class="card-title" style="font-size: 35px;font-weight: bold;color: aliceblue;">SignUp in Successfully</h5>
          <p class="card-text" style="margin-top: 20px;color: aliceblue;font-weight: bold;margin-bottom: auto;font-size: 22px;font-family: Arial;">Welcom to LostandFound web service</p>
          <p class="card-text" style="color: aliceblue;font-weight: bold;margin: auto;font-size: 22px;font-family: Arial;">You are already register to our service</p>
          <p class="card-text" style="color: aliceblue;font-weight: bold;font-size: 22px;font-family: Arial;">log in with your acounnt</p>
          <a href="/login" class="btn " id="SignIn" style="background-color: rgb(255, 255, 255);border-radius: 20px;width: 25%;height: auto;font-size: 24px;text-align: center;font-weight: bold;color: rgb(5, 121, 36);">Login</a>
        </div>
      </div>
    </div>
  </div>
  <!--end background-->

  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>


</html>